<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
  <title>isomorphic-react-flux-example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
</head>

<body>
  <div id="test-application">
    <!-- react renders here -->
  </div>
  <script src="./js/client.js"></script>
</body>

</html>
