<!-- /build/index.ejs -->
<!doctype html>
<html>
  <body>
    <div id="test-application">
      <%- reactOutput %>
    </div>
  <!-- this script bootstraps the app once the JS is downloaded -->
  <script src="./client.js"></script>
  </body>
</html></p>
